<?xml version="1.0"?>
<!--
/**
 * Stagebit
 * Stagebit Signup Form
 *
 * @category   Stagebit
 * @package    Stagebit_Signup
 * @copyright  Copyright © 2020 Stagebit 
 * @license     
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Stagebit_Signup" setup_version="1.0.7" />
</config>